:root {
  --primary-100: #e0deff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --primary-design: #f0db51;
  --black-design: #0d0d0d;
  --grey-design: #eff0f3;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --yellow: #f0db51;
  --yellow-light: #f8e881;
  --yellow-dark: #6b5d00;
  --defaultFontSize: 87.5%;
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.7em;
  --backgroundColor: var(--white);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}
@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
}

a {
  text-decoration: none;
}
img {
  border-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h5 {
  font-size: 1.25rem;
}

.section {
  padding: 5rem 0px;
  background: var(--grey-200);
}

.section .title {
  text-align: center;
  margin-bottom: 3rem;
}

.section .title-underline {
  height: 0.2rem;
  width: 7rem;
  background: var(--primary-design);
  margin: -1rem auto 0px;
}

.section .section-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0px auto 2rem;
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.section-item {
  border-radius: var(--borderRadius);
  background: var(--white);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}

.section-item .img {
  width: 100%;
  display: block;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  height: 15rem;
  object-fit: cover;
}
.section-item-image-wrapper {
  position: relative;
  overflow: hidden;
}

.section-item-image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.section-item footer {
  text-align: center;
  padding: 1rem 1.25rem;
  background: var(--yellow-light);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.section-item h5 {
  margin-bottom: 0px;
  color: var(--yellow-dark);
  font-weight: 500;
}
